@import "tailwindcss";
@source "../views/";
@source "../../app/";

html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 100px;
}

@layer base {
  h1 {
    @apply text-5xl md:text-7xl font-bold mb-6;
  }
  h2 {
    @apply text-4xl md:text-5xl font-bold mb-4;
  }
  h3 {
    @apply text-2xl font-bold mb-2;
  }
  h4 {
    @apply font-semibold mb-1;
  }
  a, p {
    @apply text-xl mb-8 leading-[1.4];
  }

  a {
    @apply no-underline! leading-none;
  }
}

@layer components {
  .icon {
    display: var(--icon-display, block);
    width: var(--icon-width, 1.5rem);
    height: var(--icon-height, 1.5rem);
    max-width: var(--icon-max-width, 100%);
    margin: var(--icon-margin, 0);
    font-size: var(--icon-font-size, 1.5rem);
    color: var(--icon-color, inherit);
    fill: currentColor;
    flex-shrink: 0;
    pointer-events: none;
  }
}
